.parentDivBorder {
  border: 5px solid #000000;
  width: 75rem;
}
.unstyledTxt {
  background-color: #ffffff;
  color: #686262;
  font-size: 0.875rem;
  font-weight: 600;
}
.unstyle {
  background-color: #ffffff;
  box-shadow: 2px 5px rgb(246, 248, 246);
}

.info {
  background-color: #958fe9;
}
.infoTxt {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
}
.warn {
  background-color: #f3e527;
}
.warnTxt {
  color: #222121;
  font-size: 0.875rem;
  font-weight: 600;
}
.error {
  background-color: #f22626;
}
.success {
  background-color: #10960c;
}
.cursor {
  cursor: pointer;
}
